@{
    Layout = "_Layout";
    ViewData["Title"] = "Oregon Hikes";

}

<div class="bg-danger mb-1 p-2 text-white"><h2>Access Denied</h2></div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>
