@{
    Layout = "_NewLayout";
    ViewData["Title"] = "About Oregon Hiking";
}


<body>
    <div class="container">
        <div class="page-header">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="container bg-success">
        <div class="page-header">
            <blockquote>
                <h3>"Of all the paths you take in life, make sure a few of them are dirt." </h3>
                <footer><h2>John Muir</h2></footer>
            </blockquote>

        </div>
    </div>

</body>


